.card {
    min-width:350px;
    max-width: 400px;
    width: 50%;
    color: #04423d;
    border: 2px outset #04423d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image {
    max-width: 400px;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.like-btn:hover {
    border-color: red;
    color: red;
    background-color: white;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.comments-container:hover {
    cursor: pointer;
}